@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.5rem, 2.4rem);
  letter-spacing: 3px;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%) no-repeat;
  color: white;
}

.container {
  max-width: 460px;
  height: auto;
  margin: 5em auto;
  text-align: center;
  padding: 1em;
}

.title {
  font-size: clamp(0.75rem, 1.4rem, 2rem);
  margin-bottom: 5em;
}
.date-time-display {
  margin-top: 1em;
  color: rgb(124, 149, 173);
}
.time-display {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#amPm {
  margin-top: 9px;
}

.date-display {
  line-height: 1.2;
}
.date-format {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.5em, 0.75em, 1em);
}
#monthText,
#dateText,
#yearText {
  margin: 0 0.25em;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.city,
.country {
  margin-bottom: 0.25em;
  line-height: 1;
  font-weight: 300;
}
.country {
  opacity: 0.6;
}

.temperature {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
}
.temp-degree {
  color: rgb(223, 193, 24);
}
.description {
  font-style: italic;
  margin-top: 1.5em;
}

#temp-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.switch-c {
  margin: 0 5px;
}
.switch-f {
  margin: 0 10px;
}
/* toggle switch w3 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(180, 177, 177);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* display / hide */
.hidden {
  display: none;
}
.show {
  display: block;
}

.signature {
  text-align: center;
  color: rgb(120, 142, 165);
  /* font-family: "Courier New", Courier, monospace; */
  letter-spacing: 0;
  text-transform: uppercase;
}

/* media queries */
@media screen and (max-width: 500px) {
  .container {
    margin: 2em 1em;
  }
}
